<div class="hero-unit">
  <h1>Ruby On Rails</h1>
  <p>留言板系統</p>
</div>

<div class="row-fluid">
  <div class="message">
    <%= form_for :message, url: message_index_path, :html => {:class => 'form'} do |f| %>
      <%= f.hidden_field :author, :value => current_user.email if current_user %>
      <p>
        <%= f.label :標題 %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :留言內容 %><br>
        <%= f.text_area :content %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
  <ul class="unstyled" style="margin-left: 20px;">
    <% @messages.each do |message| %>
      <li style="margin-bottom:10px;">
        <%= image_tag(message.user.avatar, width: 50) %>
        <%= message.author %>
        <%= link_to message.title, message %>
        <%= link_to '刪除', message_path(message.id), method: :delete, confirm: "確定刪除？" if current_user.email == message.author if current_user %>
      </li>
    <% end %>
  </ul>
</div>
